
header {
  width: 100%;
}

h1, h2 {
   text-align: center;
}

.nasa-search, .wikipedia-search {
  float: left;
  width: 45%;
  padding-left: 30px;
  margin: 0 auto;

}

#wiki-query {
  width: 200px;
}

img {
  width: 100%;
}

.nasa-search-form, .wikipedia-search-form {
  margin-bottom: 10px;
}

iframe {
  height: 100%;
  width: 100%;
}


.displayNone {
  display: none;
}
