
header {
  width: 100%;
}

h1 {
   text-align: center;
}

.nasa-search, .wikipedia-search {
  float: left;
  width: 45%;
  padding-left: 30px;
  margin: 0 auto;
  
}

img {
  width: 100%;
}

.nasa-search-form, .wikipedia-search-form {
  margin-bottom: 10px;
}

#lightBoxBg {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  display: none;
  background-color: black;
  height: 100%;
  width: 100%;
}
      
 #lightBox {
  position: absolute;
  top: 25%;
  left: 40%;
  display: none;
}

/* css for lightbox */

.displayBlock {
  display: block;
}

.dismiss {
  display: none;
}